@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
    overflow-x: hidden;
}

section .color{
    position: absolute;
    filter: blur(150px);
}

section .color:nth-child(1){
    top: -350px;
    width: 600px;
    height: 600px;
    background: #ff359b;
}

section .color:nth-child(2){
    top: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #fffd87;
}

section .color:nth-child(3){
    top: 400px;
    left: 70%;
    width: 700px;
    height: 250px;
    background: #00d2ff;
    object-fit: fill;
}




/*        GENERAL        */
.index{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;  
}

.admin{
    width: 100%;
    margin-top: 55px;
    margin-left: 95px;
    display: none; 
 }

.blockchain{
    width: 100%;
    margin-top: 55px;
    margin-left: 95px;  
    display: none; 
 }

.principal_user{
    width: 100%;
    min-width: none;
    margin-top: 55px;
    margin-left: 95px; 
    display: none;
}

.movie_user{
    width: 100%;
    margin-top: 55px;
    margin-left: 95px;  
    display: none;
}

.actor_user{
    width: 100%;
    margin-top: 55px;
    margin-left: 95px; 
    display: none; 
}

.category_user{
    width: 100%;
    margin-top: 55px;
    margin-left: 95px;  
    display: none;
}

::-webkit-scrollbar{
    background: transparent;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}




/* ADMIN */

.general_container{
    width: 100%;
    max-width: 900px;
    margin: auto;
    position: relative;  
    padding: 20px;
}

.back_div{
    width: 105%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;  
    align-items: center;
    backdrop-filter: blur(4px);
    box-shadow: 0 45px 65px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.back_div div{
    margin: 100px 30px;
    color: #000;
    transition: all 500ms;
    text-align: center;
}

.back_div div p, 
.back_div div button{
    margin-top: 30px;
    font-weight: 700;
    font-size: 15px;
}

.back_div div h3{
    font-weight: 800;
    font-size: 26px;
}

.back_div button{
    padding: 10px 10px;
    width: 100%;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    cursor: pointer;
    color: black;
    outline: none;
    font-weight: 700;
    transition: all 300ms;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.back_div button:hover{
    background-color: white;
    color: #3b4d50fa;
}

.front_div{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 380px;
    top: -195px;
    left: 40px;
    text-align: center;
    align-content: center;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);  
}

.front_div form{
    width: 100%;
    padding: 40px 20px;
    background: rgba(0, 0, 0, 0.03);
    position: absolute;
    border-radius: 10px;  
    align-items: center;
    box-shadow: 0 5px 25px #a3b4b65d;
    border: 1px solid #a3b4b65d;
    border-right: 1px solid #a3b4b65d;
    border-bottom: 1px solid #a3b4b65d;   
}

.front_div form h2, .bc_content .block label{
    font-size: 25px;
    margin-bottom: 40px;
    position: relative;
    color: #000;
    font-weight: 800;
    letter-spacing: 1px;
}

.front_div form h2::before{
    content: '';
    position: absolute;
    left: 125px;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #000;
}

.front_div form .input, .bc_content .block  input, .comment_sth{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-top:20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 16px;
    letter-spacing: 1px;
    color: #000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.front_div form input::placeholder{
    color: rgba(0, 0, 0, 0.601);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.front_div form .chk{
    margin-top: 20px;
    padding: 8px 10px;
}

.front_div form .chk label{
    color: #000;
}

.front_div form button{
    color: white;
    background: black;
    padding: 10px 40px;
    margin-top: 20px;
    width: 75%;
    cursor: pointer;
    font-weight: 600;
    border-radius: 35px;
    font-size: 16px;
    letter-spacing: 1px;    
    outline: none;
    border: none;
}

.front_div form button:hover{
    color: #7c9ca2fa;

}

.login_form{
    opacity: 1;
    display: block;
}
.login_back_div{
    opacity: 0;
}
.register_form{
    display: none;
}

/* -------------------------------------------- ADMIN */

.container{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}


.content{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: -40px;
}

.bc_content{
    width: 100%;
    height: 100%;
    margin-bottom: -40px;
}

header{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5); 
    clip-path:inset(0);
}

header .logo{
    text-decoration: none;
    font-size: 1em;
    font-weight: 800;
    color: #447189;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;   
}

header .img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    vertical-align: middle;
}

header ul{
    display: flex;
}

header ul li{
    list-style: none;
    margin: 0 10px;
}

header ul li a, .custom-file-upload{
    text-decoration: none;
    font-weight: 800;
    color: #000;
    padding: 8px 15px;
    height: fit-content;
    border-radius: 25px;
    cursor: pointer;
}

header ul li a:hover{
    background: #fff;
    color: #447189;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);  
}

.content .graphs_btn{
    display: block;
    text-align: center;
    width: 100%;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
}

.btn, input[type='file']::-webkit-upload-file-button{
    padding: 10px 10px;
    width: 60%;
    border-radius: 35px;
    background: rgba(0, 0, 0, 0.03);
    margin-top: 20px;
    font-size: 1em;
    cursor: pointer;
    color: black;
    outline: none;
    font-weight: 700;
    transition: all 300ms;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


input[type="file"] {
    display: none;

}

input[type='file']::-webkit-upload-file-button:hover{
    background: #fff;
    color: #447189;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);  
}


.btn:hover{
    background-color: rgba(255, 255, 255, 0.9);
    color: #447189;
}


.content .graphs{
    width: 100%;
    height: 420px;
    align-items: center;
    padding: 10px;
    align-content: center;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    display: block;
    text-align: center;
}

.content .graphs .graphRender, .bc_content .merkle .graphRender2, .bc_content .blocks .graphRender1{
    margin-right: 3px;
    width: 120vh;
    max-width: 100%;
    height: 350px;
    max-height: 350px;
    margin-bottom: -15px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    overflow:auto;
    display: grid;
    place-items: center;
}

svg{
    object-fit: fill;  
    display: block;
}

.bc_content .merkle .graphRender2{
    border-radius: 20px;
    width: 100%;
    margin-top: 5vh;
    align-items: center;
    padding: 10px;
    align-content: center;
    background: rgba(0, 0, 0, 0.1);
}

.bc_content .blocks .graphRender1{
    border-radius: 20px;
    width: 100%;
    margin-top: -10vh;
    align-items: center;
    padding: 10px;
    align-content: center;
    background: rgba(0, 0, 0, 0.1);
}

.bc_content .block input{
    width: 10%;
    border: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.6);
}

.bc_content .block  label{
    font-size: 15px;
    margin-left: 1%;
}

.bc_content .block  button{
    width: 17%;
    font-weight: 700;
}

#btn_time{
    margin-left: 3%;
}

#btn_generateBlock{
    margin-left: 83%;
    transform: translateY(-12vh);
}

.menubtn{
    width: 30%;
    margin-top: 6vh;
    margin-left: 70%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
}

#btn_salir{
    box-shadow: none;
    border: none;
    width: 30%;
    margin-left: 4%;
}

svg{ 
    object-fit: fill;   
}

/* PRINCIPAL USER */

.container .movies, .container .actors{
    height: 360px;
    max-height: 360px;
    overflow: auto;
    margin-top: -5px;
}

.movie_user .container, .actor_user .container{
    height: 570px;
}

.category_user .container{
    height: 570px;
}
.container .movies .movie{
    display: inline-flex;
    margin-top: 30px;
}
.container .sorting{
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.container .sorting button{
    background: transparent; 
    font-weight: 700;
    border: none; 
    margin: 20px;
}

.movie_card, .actor_card{
    display: block; 
    justify-content: center; 
    align-items: center;
    width: 15%;
}

#movie_title, #actor_name{
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: -20px;
}

#movie_picture, #actor_picture{
    margin-left: 8%;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.container .movies .movie .movie_desc, .container .actors .actor .actor_desc{
    margin-left: 30px;
    padding: 20px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.03);
    width: 78%;
}

.container .movies .movie .movie_opts{
    margin-left: 5px;
    display: inline-flex;
    margin-right: 20px;
}

#movie_opt{
    width: 50px;
    height: 50px;
    
}

#btn_info, #btn_rent{
    margin-left: 10px;
    font-weight: 600;
    border: none;
    background: transparent;
}

#btn_rent{
    margin-left: 30px;
}

.container .movie_info{
    text-align: center;
    display: block;
}


.container .movie_info h2, #category_name{
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 35px;
    color: #000;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff; 
}

.container .movie_info .desc{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-weight: 500;
    border-radius: 25px;
    text-align: justify;
    background: rgba(0, 0, 0, 0.05);
    width: 100%;
}

#btn_rent_individual{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-weight: 700;
    background: transparent;
}

.container .movie_rate{
    margin-top: 3%;
    text-align: center;
    width: 100%;
}

.container .movie_rate h2, #category_name{
    font-size: 25px;
    font-weight: 500;
}

.container .movie_rate .star-widget{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.container .movie_rate .star-widget input{
    display: none;
}

.star-widget label{
font-size: 40px;
color: #444;
padding: 10px;
float: right;
transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
color: #fd4;
}

input:checked ~ label{
color: #fd4;
}

input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

.container .comment_section{
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.05);
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    overflow: auto;
}

.container .comment_section .comment{
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    width: 95%;
    height: 50px;
}

.comment_sth{
    width: 70%;
    height: 45px;
}

#send_comment{
    transform: translateY(-112px);
    background-color: rgba(255, 255, 255, 0.6);
    width: 10%;
    margin-left: 65%;
}

.categories{
    max-width: 100%;
    width: 100%;
    height: 480px;
    min-height: 480px;
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px ;
    grid-gap: 0.5em;
    overflow-y: hidden;
    justify-content: center;
    overflow: auto;
}

#category_name{
    font-weight: 700;
}

.category{
    border-radius: 30px;
    box-shadow: 0 45px 65px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 100px;
}














